<nav>
<h1><%= t('app_name') %></h1>
<h1><%= link_to "Productos", products_path%></h1>
<h1><%= link_to "Categorias", categories_path %></h1>

<h1><%= link_to "añadir producto", new_product_path %></h1>
</nav>